

<!--<p>-->
<!--Witam na kursie {{title | uppercase}} <br>-->
  <!--Pi = {{pi | number: '1.1-2'}} <br>-->
  <!--Pies = {{dog?.name}} <br>-->
  <!--ma {{dog?.age}} lat <br>-->

  <!--{{date | date: 'dd-MM-yy'}} rok ziom <br>-->

<!--</p>-->
<!--<p>Dni tygodnia</p>-->
<!--<ul>-->
  <!--<ng-container *ngFor="let day of days;let e = even">-->
  <!--<li *ngIf="e">-->
    <!--{{day}}-->
  <!--</li>-->
  <!--</ng-container>-->
<!--</ul>-->

<!--<div *ngFor="let day of days">-->
  <!--<div [ngSwitch]="day">-->
    <!--<div *ngSwitchCase="'Poniedzialek'">Monday</div>-->
    <!--<div *ngSwitchCase="'Wtorek'">Tuesday</div>-->
    <!--<div *ngSwitchCase="'Sroda'">Wednesday</div>-->
    <!--<div *ngSwitchCase="'Czwartek'">Thursday</div>-->
    <!--<div *ngSwitchCase="'Piatek'">Friday</div>-->
    <!--<div *ngSwitchCase="'Sobota'">Saturday</div>-->
    <!--<div *ngSwitchCase="'Niedziela'">Sunday</div>-->
  <!--</div>-->
<!--</div>-->

  <!--<div *ngFor="let dog of dogs; let i = index">-->
    <!--<div *ngIf="dog.age < 3">-->
   <!--{{i + 1}} Moj pies {{dog.name +' '+ dog.age}}-->
    <!--</div>-->
    <!--</div>-->

<!--<app-test *ngFor="let i of [0,1,2,3]"></app-test>-->

<!--<h3 [class]="colorClass">Angular - Property binding</h3>-->
<!--<img [src]="logoUrl">-->
<!--<input [maxLength]="maxLengt" [value]="inputText">-->
<!--<button [disabled]="isDisable" (click)="change()">Dodaj</button>-->

<!--<h3 [class]="colorClass">Angular - Event binding</h3>-->

<!--<input [disabled]="isDisable" (focus)="onFocus()">-->
<!--<br>-->
<!--<input [disabled]="isDisable" (click)="onClick($event)">-->
<!--<br>-->
<!--<input [disabled]="isDisable" (mousemove)="onMouseMove($event)">-->
<!--<br>-->
<!--<input [disabled]="isDisable" (paste)="onPaste()"> {{inputText}}-->
<!--<br>-->
<!--<button (click)="change()">Zmiana</button>-->

<!--<h3 [class]="colorClass">Angular - Data binding</h3>-->

<!--<p> Ten pracownik to {{profession}}, a jego umiejętności to {{skill}}</p>-->

<!--<label for="male">Zawód</label>-->
<!--<input [(ngModel)]="profession">-->
<!--<br>-->
<!--<label for="male">Umiejetnosci</label>-->
<!--<input [(ngModel)]="skill">-->

<div>

  <div class="container">
<app-add-task></app-add-task>
  </div>

  <div class="container">

   <app-todo-task></app-todo-task>

   <app-done-task> </app-done-task>
<button (click)="save()">Zapisz w DB</button>
  </div>

</div>

<!--<app-test [tasks]="tasksList" (eventTask)="selected($event)"></app-test>-->
